# Base de datos
SPRING_DATASOURCE_URL=jdbc:h2:mem:testdb
SPRING_DATASOURCE_USERNAME=sa
SPRING_DATASOURCE_PASSWORD=

# JWT
JWT_SECRET=tu_clave_secreta_aqui

# Email
MAIL_USERNAME=tu@email.com
MAIL_PASSWORD=tu_contraseña_de_aplicacion
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587