.mainContainer {
    background-color: var(--night);
    min-height: 100vh;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.searchContainer {
    width: 90vw;
    max-width: 1000px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

input[type="text"] {
    height: 45px;
    flex: 1;
    min-width: 300px;
    border: 1px solid var(--raw-umber);
    border-radius: 8px;
    outline: none;
    background: var(--black-olive);
    padding: 0.75rem 1.5rem;
    box-sizing: border-box;
    box-shadow: none;
    appearance: none;
    font-family: inherit;
    font-size: 1rem;
    color: var(--olive);
}


input[type="text"]:focus {
    outline: none;
    border: 2px solid var(--raw-umber);
    ;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--black-olive) inset;
    -webkit-text-fill-color: var(--olive)
}

.searchButton {
    background: var(--black-olive);
    font-size: 1rem;
    color: var(--olive);
    margin-left: 1rem;
    padding: 0.75rem 2rem;
    height: 45px;
    box-sizing: border-box;
    flex-shrink: 0;
    border: 1px solid var(--raw-umber);
    border-radius: 8px;
    transition: all 0.5s ease;
    cursor: pointer;
    white-space: nowrap;
}

.searchButton:hover {
    background: var(--olive);
    color: var(--black-olive);
}


.container {
    width: 85vw;
    padding: 0;
    min-height: 75vh;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    /* border: 1px solid violet; */
}

.productsContainer {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    overflow: hidden;

}


.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    height: 100px;
    min-height: 100px;
    padding-left: 25px;
    overflow: hidden;
    /* border: 1px solid yellow; */
}

.titleContainer h2 {
    font-family: 'rustic';
    color: var(--raw-umber);
    font-size: 50px;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    /* border: 1px solid red; */
}


/* .specialOfferContainer * {
    border: 1px solid red;
} */

.specialOfferContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-umber);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    margin: 50px;
}
.specialTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    height: 100px;
    padding: auto;
}


.specialTitleContainer h2 {
    font-family: 'rustic';
    color: var(--jasmine);
    font-size: 50px;
    padding: 0;
    margin: 0;
}

.specialCardContainer{
    gap: 2rem;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    overflow: hidden;
}

.specialCard {
    width: 500px;
    height: 309px;
    border: 1px solid var(--jasmine);
    margin: 0 40px;
    border-radius: 8px;
    padding: 1rem;
    overflow: hidden;
    transition: all 0.5s ease;
}

.specialCard img {
    opacity: 1;
}

.specialCard:hover {
    cursor:pointer;
    box-shadow: 0 2px 10px var(--jasmine);
}

@media (max-width: 768px) {

    .mainContainer,
    .container,
    .productsContainer,
    .titleContainer,
    .cardContainer {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .titleContainer {
        margin: 0 0 25px 0;
    }

    .cardContainer {
        padding: 15px;
    }


}