.body {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: var(--jasmine);
    font-size: 1.5rem;
}

.body form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    font-size: 1.2rem;
}

label {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

textarea {
    width: 250px;
    margin-bottom: 50px;
}



.button {
    background: var(--black-olive);
    font-size: 1rem;
    color: var(--olive);
    margin: 1rem;
    padding: 0.75rem 2rem;
    height: 45px;
    width: 200px;
    box-sizing: border-box;
    flex-shrink: 0;
    border: 1px solid var(--raw-umber);
    border-radius: 8px;
    transition: all 0.5s ease;
    cursor: pointer;
    white-space: nowrap;
}

.button:hover {
    background: var(--olive);
    color: var(--black-olive);
}
