body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header {
  font-family: 'rustic';
  background-color: var(--black-olive);
  color: white;
  padding: 1.5rem 0;
  box-shadow: 0 2px 6px rgb(12, 12, 12);
  max-height: 145px;
  width: 100vw; 
  position: fixed;
  z-index: 999999
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subContainer{
  display: flex;

}

.logoSection {
  text-align: left;
}

.imgLogo {
  width: 100px;
  height: 100px;
  margin-right: 30px;
}

.logo {
  margin: 0;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.subtitle {
  margin: 0.25rem 0 0 0;
  font-size: 1.2rem;
  font-weight: 300;
  opacity: 0.9;
}

.nav {
  display: flex;
  gap: 3rem;
}

.link {
  color: var(--ghost-white);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  transition: opacity 0.3s ease;
}

.link:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 1rem;
  }

  .subContainer {
    justify-content: center;
    align-items: center;
  }

  .logo {
    font-size: 2rem;
  }

  .nav {
    gap: 1rem;
  }
}